<?xml version="1.0"?>
<model>
  <name>construction_person_women</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hafiz Oyediran</name>
    <email>oyediran.hafiz@gmail.com</email>
  </author>

  <description>
    A construction person.
  </description>
</model>
